html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: #1b1f27;
    font-family: Arial;
}

.container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container form {
    width: 500px;
    background-color: #181920;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    word-wrap: break-word;
}

form h1 {
    color: #fff;
    font-weight: 700;

    padding: 0.5rem;
    text-align: center;
}

form input:focus {
    border: 1px solid #5b5bff;
}

form input, button {
    min-height: 40px;

    border-radius: 5px;
    border: 0;
    outline: none;

    background: #232427;

    padding: 0.5rem 1rem;

    color: #fff;
    font-weight: 600;

    margin: 10px 0; 
}

form button {
    min-height: 50px;
    background: #5b5bff;
    transition: .2s;
}

form button:hover {
    background: #7575fc;
}

form h4 {
    font-family: 'Courier New', Arial;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

form h4 span {
    cursor: pointer;
    color: #5b5bff;
}

form button:disabled {
    opacity: 50%;
}

form button:disabled:hover {
    background: #5b5bff;
}

form .Loading {
    animation: spin 1s linear infinite;
}

form h1 span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}